.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background-color: #f4f4f4;
}

.box {
  will-change: transform, opacity;
  transition: 1s;
}

.left {
  transform: translateX(-50%);
}

.right {
  transform: translateX(50%);
}

.box.visible {
  opacity: 1;
  transform: translateX(0);
}

.mg-100 {
  margin-bottom: 100px;
}

@media (max-width: 767.98px) {
  .left {
    transform: translateX(-30%);
  }
  .right {
    transform: translateX(30%);
  }
  .mg-100 {
    margin-bottom: 50px;
  }
}
.section1 {
  background: #f4f4f4;
  height: auto;
}
.section1__title {
  font-size: 5rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0;
}
.section1__desc {
  font-size: 2rem;
  color: #e74c3c;
}

@media (max-width: 766.98px) {
  .section1__title {
    font-size: 3rem;
  }
  .section1__desc {
    font-size: 1.2rem;
  }
}
.section2 {
  background: #2c3e50;
}
.section2__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2__img {
  width: 60%;
  height: auto;
  margin-left: 20px;
}
.section2__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.section2__item {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}
.section2__item:hover {
  color: #e74c3c;
}

@media (max-width: 991.98px) {
  .section2__wrap .col-xs-2 {
    display: none;
  }
  .section2__wrap .col-xs-10 {
    margin-bottom: 0;
    padding: 10px 5px;
  }
  .section2__item {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  .section2__item {
    font-size: 1rem;
    padding: 10px 10px;
  }
}
.section3 {
  height: 100vh;
  background-image: url(../img/background-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3__content {
  width: 60%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border-top: #2c3e50;
  border-left: #2c3e50;
  box-shadow: #f4f4f4 0px 20px 30px -10px;
  position: relative;
}
.section3__content h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 20px;
}
.section3__content p {
  font-size: 2rem;
  margin-bottom: 30px;
}
.section3__content a {
  background: #e74c3c;
  padding: 10px 20px;
  color: #f4f4f4;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 20px;
  transition: 0.5s;
}
.section3__content a:hover {
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .section3__content {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  .section3__content {
    width: 100%;
  }
  .section3__content h2 {
    font-size: 2.5rem;
  }
  .section3__content p {
    font-size: 1.2rem;
  }
  .section3__content a {
    padding: 10px;
    font-size: 1.2rem;
  }
}
.section4__content {
  margin-bottom: 50px;
}
.section4__content h2 {
  font-size: 5rem;
}
.section4__content ul {
  font-size: 2rem;
}
.section4__chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4__infomation li {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

@media (max-width: 991.98px) {
  .section4__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section4__map.col-xs-6 {
    width: 100%;
    margin: 100px 0;
  }
  .section4__map.col-xs-6 canvas {
    width: 100%;
    height: auto;
  }
  .section4__infomation.col-xs-6 {
    width: 100%;
  }
  .section4__infomation.col-xs-6 h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .section4__content h2 {
    font-size: 3rem;
  }
  .section4__content ul {
    font-size: 1.6rem;
    padding: 0 20px;
  }
  .section4__infomation h1 {
    font-size: 2rem;
  }
  .section4__infomation li {
    font-size: 1.4rem;
  }
}
.section5 h2 {
  font-size: 4rem;
  font-weight: bold;
}
.section5__img img {
  max-width: 100%;
  height: auto;
}
.section5__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5__content img {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section5__text {
  width: 50%;
  padding: 0 50px;
  font-size: 2rem;
}

@media (max-width: 991.98px) {
  .section5__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section5__content img {
    width: 100%;
    margin-bottom: 50px;
  }
  .section5__text {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .section5 .text-center {
    font-size: 3rem;
  }
}
.section6__title {
  margin-bottom: 50px;
  font-size: 4rem;
  font-weight: bold;
}
.section6 table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.8rem;
}
.section6 th, .section6 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.section6 th {
  background-color: #f2f2f2;
}

.section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.section7__form {
  margin: 0 auto;
}
.section7__form h2 {
  font-size: 4rem;
  font-weight: bold;
}
.section7__form form input {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section7__form form button {
  padding: 10px 20px;
  background: #e74c3c;
  border-radius: 30px;
  border: none;
}

@media (max-width: 767.98px) {
  .section7 {
    height: auto;
  }
  .section7 .display-flex {
    flex-direction: column;
  }
  .section7__form {
    margin-bottom: 20px;
  }
  .section7 iframe {
    width: 100%;
    height: auto;
  }
}
footer {
  background-color: #2c3e50;
}
footer p {
  color: #ffffff;
  padding: 8% 0 5% 0;
}

/*# sourceMappingURL=style.css.map */
